<?php

$DBUser = "";
$DBPass = "";

$roDBUser = "";
$roDBPass = "";

$Database = "";

$LoginTableName = "";

$TeamDataTable = "";
$RobotDataTable = "";
$EventDataTable = "";

$appdir = "";
$image_root = "";
$thumbnail_width = ;

$TBAAuthKey = "";

/*
The user's username and password are checked against the database to see if they match. If they match, then the user has the LoggedIn flag set to true on their session.
This causes createDBObject to check the user's username and password in the $LoginTableName, and if it is correct, the user is allowed to use the $DBUser and $DBPass to view and change the scouting information.

The login table will have the following schema: (user VARCHAR(255) NOT NULL, passhash TEXT, name TEXT, admin BOOLEAN, INDEX `user_index` (user))

The TeamDataTable will associate teams with robotids. It will have the following schema:
(number INTEGER NOT NULL, robotids VARCHAR(255), eventids VARCHAR(255), PRIMARY KEY `team_index` (number))

The RobotDataTable will hold random key-value pairs for storing variable data. It will have the following schema:
(robotid VARCHAR(255), data_key VARCHAR(255), data_value TEXT, PRIMARY KEY `robotid_index` (robotid, data_key))

The EventDataTable will hold varying key-value pairs and associates them with an eventid. This will hold info on a match the team has competed in. It has this schema:
(eventid VARCHAR(255), data_key VARCHAR(255), data_value TEXT, PRIMARY KEY `eventid_index` (eventid, data_key))

There will be a JSON file (schema.json) describing the schema of the data to collect for each year's robot
*/


 ?>
