body {
	/*background: linear-gradient(to right,#F0F0F0,#F7F7F7,#FAFAFA,#F7F7F7,#F0F0F0);*/
	background: linear-gradient(0deg,black,orange,brown,red,green);
}
#title {
	font-size: 2em;
	text-align: center;
	background-color: #FDFDFD;
	border-radius: 5px;
	padding: 10px 0px;
}
div.infoRow {
	border: 2px solid #DEDEDE;
	border-radius: 2px;
	padding: 5px 5px 5px 15px;
}
#login {
	position:fixed;
	bottom:5px;
	left:5px;
	background-color:#E0E0E0;
	border-radius: 5px;
	display: inline-block;
	padding:1px 10px;
}