/*
 * Our official blue color: #06ceff
 * Our official purple color: #9f01ff
 * Our official font: StormFaze
 * Background image from: https://subtlepatterns.com
 */

@font-face{
	font-family: "StormFaze";
	src: url("fonts/stormfaze.ttf");
}

body {
	background-image: url("images/sneaker.png");
	background-attachment: fixed;
	margin: 0px;
}

#container{
	position:relative;
	top: 80px;
	background-color: transparent;
	margin: 0px;
	
}

#hamburger {
	vertical-align: middle;
	cursor: pointer;
	border-radius: 10;
}

#hamburger:hover {
	background-color: #8101ce;
}

#title {
	z-index: 999999;
	position: fixed;
	width: 100%;
	
	font-size: 50px;
	text-align: center;
	font-family: "StormFaze";
	background-color: #9f01ff;

	padding: 10px 0px;
	
	color: #FFFFFF;
	
	margin: 0px;
}

* {
	font-family: "arial";
}

div.infoRow {
	border-bottom: 1px dashed #06ceff;
	border-radius: 0px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	padding-left: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	background-color: #ffffffaa;

}

.teamlink{
	color: #000000;
	text-decoration: none;
}

.teamlink:hover{
	color: #06ceff;
}

div.infoRow:hover{
	cursor: pointer;
}


#login {
	position:fixed;
	bottom:5px;
	left:5px;
	background-color:#E0E0E0;
	border-radius: 5px;
	display: inline-block;
	padding:1px 10px;
}