table.hiddenselectoptions {
  display: none;
}
td.yearchoice:hover {
  cursor: pointer;
  text-decoration: underline;
}
table {
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid black;
}
table.selectoptions, table.selectoptions th, table.selectoptions td {
  border: none;
}
