@font-face{
	font-family: "StormFaze";
	src: url("/fonts/stormfaze.ttf");
}
* {
    font-family: arial;
}

body {
    margin: 0;
    background-image: url("../images/grey.png");
    background-attachment: fixed;
}

p {
	margin: 0px;
}

/* Image Gallery style */
img.gallery {
	max-width: 25%;
	padding: 5px;
	background-color: rgba(255, 255, 255, 0.67);
	border-radius: 2px;
}
#info {
	width: 60%;
	margin: auto;
	min-width: 400px;
	background-color: rgba(255, 255, 255, 0.67);
	padding: 10px 25px;
	height: 100%;
}
h1{
	font-family: "StormFaze";
	font-size: 25px;
}