@font-face{
	font-family: "StormFaze";
	src: url("../fonts/stormfaze.ttf");
}
* {
    font-family: arial;
}

body {
    margin: 0;
    background-image: url("../images/grey.png");
    background-attachment: fixed;
}

p {
	margin: 0px;
}

#info {
	width: 60%;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.67);
	padding: 0px 70px;
	min-height: 100%;
	box-shadow: 0px 0px 10px 1px #06ceff;
}
h1{
	font-family: "StormFaze";
	font-size: 2em;
}
#back {
	margin-top: 15px;
	width: 50px;
	position: relative;
	left: -55px;
}
#back:hover {
	filter: opacity(.8);
	cursor: pointer;
}
#back:active {
	box-shadow: inset 0 0 10px 2px grey;
}
#edit {
	font-family: StormFaze;
	color: black;
	display: inline-block;
}
#edit:hover {
	color: #06ceff;
	cursor: pointer;
}
#edit:active {
	box-shadow: inset 0 0 10px 2px grey;
}
#TBAHeading {
	margin: 21.440px 0px;
}
#TBAHeading > span {
	font-family: StormFaze;
	font-size: 1.5em;
	color: black;
}
#TBAHeading > span:hover {
	cursor: pointer;
	color: #06ceff;
}

div.accordion {
	border: 1px solid #b1b1b1;
}

div.accordioncontent {
	display: none;
	background-color: #ebfbff;
	box-shadow: inset 0 0 5px 0px black;
	padding: 2px 4px;
	overflow-x: auto;
}
div.show {
	display: block;
}
button.accordionbutton {
	width: 100%;
	padding: 1px 0px;
	border-radius: 0px;
	border: none;
	background: none;
	min-height: 15px;
	background: #ffffff;
}
button.accordionbutton:hover {
	background: #f1f1f1;
	cursor: pointer;
}

img.gallery {
	width: 150px;
}
span.key {
	font-weight: bold;
}
p.category {
	font-family: StormFaze, sans-serif;
}

p.label {
	font-family: StormFaze, sans-serif;
}
p.section {
	font-size: 1em;
}
span.label {
	text-decoration: underline;
}
span.record {
	font-weight: bold;
}

a {
	color: black;
	text-decoration: none;
}

table {
  border-collapse: collapse;
	width: 100%;
	text-align: center;
	background: #ffffff;
}
table, th, td {
  border: 1px solid #b1b1b1;
}

td table {
	width: 100%;
	border: none;
}
td td {
	border: none;
}
tr.winnerrow {
	font-weight: bold;
}
tr.target, td.target {
	text-decoration: underline;
}
tr.redalliance {
	background-color: #ffeeee;
}
tr.bluealliance {
	background-color: #eeeeff;
}
