
* {
    font-family: arial;
}

body {
    margin: 0;
    background-image: url("../images/grey.png");
    background-attachment: fixed;
}

p {
	margin: 0px;
}

/* Image Gallery style */
img.gallery {
	max-width: 25%;
}